@font-face {
    font-family: 'DIN Condensed Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Condensed Bold'), url('../fonts/DINCondensed-Bold.woff') format('woff');
}

@font-face {
    font-family: 'DIN Alternate Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Alternate Bold'), url('../fonts/DINAlternate-Bold.woff') format('woff');
}
